@import "reset";
@import "./variables/global";
@import "./theme/normal";
@import "./theme/dark";
@import "./theme/green";

.app {
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    transition: color var(--transition-delay), background-color var(--transition-delay);
}

.content-page {
    display: flex;
    height: calc(100vh - var(--navbar-height));
}
