.Title {
    font: var(--font-l);
    transition: color var(--transition-delay);
}

.Text {
    font: var(--font-m);
    transition: color var(--transition-delay);
}

.primary {
    .Title {
        color: var(--primary-color);
    }

    .Text {
        color: var(--secondary-color);
    }
}

.error {
    .Title {
        color: var(--primary-red-color);
    }

    .Text {
        color: var(--secondary-red-color);
    }
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
