.Modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-delay), visibility var(--transition-delay);
}

.content {
    padding: 1rem;
    max-width: min(calc(100% - 2rem), calc(100 * 0.6rem));
    background-color: var(--bg-color);
    color: var(--primary-color);
    opacity: 0;
    border-radius: 0.5rem;
    transform: scale(0.5);
    transition: transform var(--transition-delay), opacity var(--transition-delay);
}

.opened {
    z-index: var(--z-index-modal);
    opacity: 1;
    visibility: visible;

    .content {
        opacity: 1;
        transform: scale(1);
    }
}

.isClosing {
    opacity: 0;
    visibility: hidden;

    .content {
        opacity: 0;
        transform: scale(0.2);
    }
}
