.AddCommentForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    @media (max-width: 560px) {
        flex-wrap: wrap;
    }
}

.input {
    flex: 1;
}

.sendBtn {
    @media (max-width: 560px) {
        width: 100%;
    }
}
