.Button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.clearInverted,
.clear {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

.clearInverted {
    color: var(--inverted-primary-color);
}

.outline {
    background-color: transparent;
    margin: 0;
    border-radius: 5px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.background {
    background-color: var(--bg-color);
    margin: 0;
    border: none;
    color: var(--inverted-secondary-color);
}

.backgroundInverted {
    background-color: var(--inverted-bg-color);
    margin: 0;
    border: none;
    color: var(--inverted-primary-color);
}

.square {
    display: grid;
    place-items: center;
    padding: 0;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}
