.link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.linkText {
    width: fit-content;
    opacity: 1;
    transition: opacity var(--transition-delay), font-size var(--transition-delay);
}

.collapsed {
    .link {
        gap: 0;
    }

    .linkText {
        opacity: 0;
        white-space: nowrap;
        font-size: 0;
    }
}
