.label {
    position: relative;
    display: grid;
    gap: 0.5rem;
    font: var(--font-m);
}

.offsetTop.label {
    margin-top: 0.4rem;
}

.labelText {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    padding: 0 0.5rem;
    line-height: 1;
    left: 0.5rem;
    pointer-events: none;
    transition:
        transform var(--transition-delay),
        font-size var(--transition-delay),
        color var(--transition-delay),
        background-color var(--transition-delay),
        top var(--transition-delay);
}

.input {
    flex: 1 1 100%;
    align-self: flex-start;
    padding: 0.5rem 1rem;
    margin: 0;
    border: none;
    outline: none;
    transition: border var(--transition-delay);
}

.input:not([value=""]) ~ .labelText,
.input:focus ~ .labelText {
    top: 0;
    padding: 0 0.5rem;
    font-size: 0.75rem;
    background-color: var(--bg-color);
}

.outline {
    background-color: transparent;
    border-radius: 5px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);

    &:focus {
        border-color: var(--focus-color);
    }

    &:focus ~ .labelText,
    &:valid ~ .labelText {
        color: var(--focus-color);
    }
}
