.app.dark {
    --bg-color: #171773;
    --inverted-bg-color: #a4aba4;
    --primary-color: #47d319;
    --inverted-primary-color: #1919d3;
    --secondary-color: #286c0e;
    --inverted-secondary-color: #171773;
    --switch-theme-color: #0115c6;
    --switch-theme-color-hover: #101b6b;
    --switch-theme-color-active: var(--switch-theme-color);
}
