:root[data-theme="dark"] {
    --bg-color: #171773;
    --inverted-bg-color: #a4aba4;
    --primary-color: #47d319;
    --inverted-primary-color: #1919d3;
    --secondary-color: #389614;
    --inverted-secondary-color: #bcbcd0;
    --switch-theme-color: #0115c6;
    --switch-theme-color-hover: #101b6b;
    --switch-theme-color-active: var(--switch-theme-color);
    --focus-color: #00ffd2;

    --skeleton-shadow: #1a1ab6;
    --skeleton-color: #1e1eda;

    --code-bg: #0f0f6e;

    --card-bg: #1f1f93;

    --list-box-box-shadow:
        0 3px 10px 2px rgb(10 40 168 / 45%),
        0 3px 10px 2px rgb(10 40 168 / 30%),
        0 3px 10px 2px rgb(10 40 168 / 15%);

    --list-box-color-primary: #171773;
    --list-box-color-seconadary: #47d319;
    --list-box-color-active: #47d319;
    --list-box-color-selected: #1e1eda;
}
