:root[data-theme="green"] {
    --bg-color: #0b6e4f;
    --inverted-bg-color: #2b4162;
    --primary-color: #fa9f42;
    --inverted-primary-color: #e0e0e2;
    --secondary-color: #f8ba7d;
    --inverted-secondary-color: #96969b;
    --switch-theme-color: #b84fb6;
    --switch-theme-color-hover: #773376;
    --switch-theme-color-active: var(--switch-theme-color);
    --focus-color: #29ff00;

    --skeleton-shadow: #0b4f39;
    --skeleton-color: #11966e;

    --code-bg: #08593f;

    --card-bg: #0a805a;

    --list-box-color-primary: #0b6e4f;
    --list-box-color-seconadary: #fa9f42;
    --list-box-color-active: #fa9f42;
    --list-box-color-selected: #11966e;
}
