:root[data-theme="light"] {
    --bg-color: #a4aba4;
    --inverted-bg-color: #171773;
    --primary-color: #1919d3;
    --inverted-primary-color: #47d319;
    --secondary-color: #171773;
    --inverted-secondary-color: #286c0e;
    --switch-theme-color: #ffc700;
    --switch-theme-color-hover: #7c6313;
    --switch-theme-color-active: var(--switch-theme-color);
    --focus-color: #7a03e3;

    --skeleton-shadow: #7a7e7a;
    --skeleton-color: #e2eae2;

    --code-bg: #888f88;

    --card-bg: #b7beb7;

    --list-box-color-primary: #a4aba4;
    --list-box-color-seconadary: #1919d3;
    --list-box-color-active: #1919d3;
    --list-box-color-selected: #e2eae2;
}
