.app.light {
    --bg-color: #a4aba4;
    --inverted-bg-color: #171773;
    --primary-color: #171773;
    --inverted-primary-color: #286c0e;
    --secondary-color: #1919d3;
    --inverted-secondary-color: #47d319;
    --switch-theme-color: #ffc700;
    --switch-theme-color-hover: #7c6313;
    --switch-theme-color-active: var(--switch-theme-color);
}
