.ListBox {
    min-width: 12.5rem;
}

.buttonWrapper {
    text-align: left;
}

.chevron {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity var(--transition-delay);
}

.button {
    padding-right: 2rem;
    opacity: 1;
    min-height: 42px;
    transition: border var(--transition-delay);

    &[disabled] .chevron {
        opacity: 0;
    }

    &.btnWhenOpen {
        border-color: var(--focus-color);
    }
}

.optionsWrapper {
    z-index: var(--z-index-listbox);
    width: 100%;
    overflow: hidden;
}

.options {
    position: absolute;
    z-index: var(--z-index-listbox-options);
    border-radius: 5px;
    background-color: var(--list-box-color-primary);
    color: var(--list-box-color-seconadary);
    overflow: hidden;

    //--------------------------------
    border: 1px solid var(--focus-color);
    width: 100%;
}

.option {
    padding: 0.5rem;
    cursor: pointer;
    transition: color var(--transition-delay), background-color var(--transition-delay);
}

.label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    padding: 0 0.5rem;
    line-height: 1;
    left: 0.5rem;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 1.563rem);
    transition:
        transform var(--transition-delay),
        font-size var(--transition-delay),
        color var(--transition-delay),
        background-color var(--transition-delay),
        top var(--transition-delay);
}

.label.labelWhenOpen,
.label.labelWithValue.labelWhenNotDisabled {
    color: var(--focus-color);
}

.label.labelWhenOpen,
.label.labelWithValue {
    top: 0;
    padding: 0 0.5rem;
    font-size: 0.75rem;
    background-color: var(--list-box-color-primary);
}

.disabled {
    cursor: pointer;
}
