.Navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1.25rem;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    gap: 1rem;
}

.logoutBtn {
    margin-left: auto;
}

.title {
    width: var(--sidebar-width);
}
