.btn {
  padding: 10px;
  background-color: red;
  color: #FFF;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: #703838;
  }

  &:active {
    background-color: #2c1616;
  }
}
