.ProfilePageHeader {
    display: flex;
    gap: 2rem;
}

.title {
    margin-right: auto;
}

.btns {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    flex: auto;
}

.btn {
    max-width: 12.5rem;
    width: 100%;
}
