.ProfileCard {
    display: grid;
    gap: 1rem;
    border: 2px solid var(--primary-color);
    padding: 1rem;
    transition: border var(--transition-delay);
}

.editable {
    border: 2px solid var(--focus-color);
}

.error {
    border: 1px solid var(--primary-red-color);
}

.center {
    justify-content: center;
    align-items: center;
}

.avatar {
    margin: 0 auto;
}
