.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(14.375rem, 14.375rem));
    justify-content: center;
    max-width: 64rem;
    margin: 0 auto;
}

.list {
    display: grid;
    grid-template-columns: minmax(100%, 64rem);
    justify-content: center;
    gap: 2rem;
}
