.Card {
    padding: 0.938rem;
    background-color: var(--card-bg);
    border-radius: 1rem;
}

.outline {
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

.background {
    background-color: var(--card-bg);
}
