.AppLink {
    font-size: 1rem;
    transition: color var(--transition-delay);
    text-decoration: none;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}
